.icon {
    width: 20px;
    height:20px;
}

.menu {
    display:flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 2px;
    background-color: rgb(35, 35, 245);
    transform: translate(-100px);
    color: white;
    width: 80px;
}

.visible {
    transform: translate(0px);

}