.icon {
    width: 20px;
    height:20px;
}

.menu {
    display:flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 2px;
    background-color: rgb(35, 35, 245);
    height:0px;
    color: white;
    width: 80px;
    transition: height 300ms ease-out;
}

.visible {
    height: 300px;
}