body {
    margin: 0px;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap:0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

.frame {
    position:relative;
    width: 400px;
    height: 400px;
}

img {
    z-index:0;
    width:400px;
    height: 400px;
}

.slides {
    position:absolute;
    display: flex;
    left: 0px;
    transition: left 300ms ease-in-out
}

.blocker {
    z-index: 1;
    flex-grow: 1;
    flex-shrink:1;
    height: 500px;
    background-color: white;
    display: flex;
    align-items: center;
    padding:12px;
    border:4px solid white
}

button {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 10%;
    font-size: large;
    font-weight: bold;
}

#blocker1 {
    justify-content: end;
}

.dots {
    margin-top:-45px;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }

.chosen {
    background-color: rgb(105, 105, 105);
}